<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ asset('css/lottery.css') }}">
  <title>Document</title>
</head>
<body>
<div class="container">
  <div id="app">
  </div>
</div>
<script src="{{ asset("bower_components/jquery/dist/jquery.min.js") }}"></script>
<script src="https://npmcdn.com/react@15.3.1/dist/react.js"></script>
<script src="https://npmcdn.com/react-dom@15.3.1/dist/react-dom.js"></script>
<script src="https://npmcdn.com/babel-core@5.8.38/browser.min.js"></script>
<script src="{{ asset("js/eventemitter.js") }}"></script>
<script type="text/babel" src="{{ asset("js/lottery.js") }}"></script>
</body>
</html>